@font-face {
  font-family: 'RobotoCondensed-Light';
  src:
  url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-SemiBold';
  src:
  url('../fonts/RobotoCondensed-SemiBold.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src:
  url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src:
  url('../fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src:
  url('../fonts/Raleway-Bold.ttf');
}



input{
  display: none;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.menu-list{
  background-color: #165E78;
  text-decoration: none;
  display: flex;
  height: 158px;
  list-style: none;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.header-span{
  text-underline-offset: 10px;
  text-decoration: underline #00B2A0 2px;
}

.menu-item {
  font-family: 'RobotoCondensed-Regular';
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.menu-item:hover {
  text-decoration: underline #00B2A0;
  text-underline-offset: 10px;
  cursor: pointer;
}

.title-main{
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
  font-size: 55px;
  color: #175371;
  margin-left: 143px;
  margin: 60px 0px 60px 143px;
  gap: 45px;
}

.for-bac {
    background-image: url(../img/bac.png);
    width: 100%;
    height: 1080px;
}

/*main*/

/*block1*/

.block1 {
  width: 100%;
  height: 936px;
  padding-top: 142px;
}

.block-1 {
    width: 1550px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.main-textInf {
    width: 610px;
    height: 700px;
}

.h1-study-main {
    font-size: 45px;
    letter-spacing: 0.6px;
    font-family: Raleway;
    font-weight: 600;
    width: 559px;
    margin-bottom: 39px;
}

.i-study-main {
    color: #00B2A0;
}

.p-textInf-main {
    font-size: 14px;
    font-family: Roboto Condensed;
    letter-spacing: 0.6px;
    line-height: 25px;
    color: #242121;
    width: 507px;
    margin-bottom: 22px;
    font-weight: 300;
}

.h1-zitata {
  font-size: 30px;
  font-family: Roboto Condensed;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 40px;
  margin-left: 38px;
  margin-bottom: 14px;
  margin-top: 77px;
}

.p-zitata {
  font-size: 14px;
  font-family: Roboto Condensed;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 18px;
  margin-left: 239px;
  margin-bottom: 14px;
}

.main-video-urok {
  margin-left: 216px;
  width: 772px;
  position: relative;
  display: inline-block;
}

.img-video-urok {
  width: 772px;
  display: block;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*block2*/
.block2{
  width: 100%;
  height: 642px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 61px;
}

.h1-block2 {
  font-size: 48px;
  font-family: Raleway;
  font-weight: 600;
  text-align: center;
  margin-bottom: 96px;
  
}

.ul-block2 {
  width: 1200px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 75px;
  margin-bottom: 148px;
}

.li-block2 {
  width: 350px;
  height: 137px;
}

li {
  list-style: none;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-heading {
  width: auto;
  height: 50px;
  margin-right: 10px;
}

.zag1,
.zag2,
.zag3 {
  font-size: 24px;
  color: #242121;
  line-height: 18px;
  font-family: Roboto Condensed;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.p-heading1,
.p-heading2, 
.p-heading3 {
  font-size: 14px;
  color: #242121;
  line-height: 18px;
  font-family: Roboto Condensed;
  font-weight: 300;
  letter-spacing: 0.6px;
  text-align: left;
  margin-top: 19px;
}



.mini_wawe-block2 {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 1365px;
  margin-left: auto;
  margin-right: auto;
}

.wawe1 {
  width: 368px;
}

.img-wawe1 {
  width: 367px;
}

.img-wawe2 {
  width: 435px;
}
.img-wawe3 {
  width: 502px;
}

.p-wawe {
  font-size: 16px;
  font-weight: 300;
  font-family: Roboto Condensed;
  letter-spacing: 0.6px;
  line-height: 18px;
  text-align: left;
  margin-top: 2px;
}


/*footer*/
.over-footer{
  display: flex;
  gap: 263px;
  padding: 165px 0px;
  justify-content: center;
  align-content: center;
}

.over-footer-logo{
font-family: Raleway;
font-weight: 700;
font-size: 50px;
line-height: 59px;
color: #0D302C;
}

.over-footer-logo img{
  padding-right: 8px;
  padding-bottom: 8px;
  width: 40px;
  height: 40px;
}

.li-one,
.li-two,
.li-three{
  font-family: Roboto Condensed;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.6px;
}

.list li{
  padding-bottom: 17px;
  color: black;
  list-style: none;
  text-decoration: none;
}

.over-footer-li:hover{
  color: #165E78;
  cursor: pointer;
  text-decoration: underline #00B2A0;
  text-underline-offset: 5px;
}

.over-footer-li {
  color: black;
  text-decoration: none;
}

.footer{
  background-color: #165E78;
  height: 117.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
  color: white;
  font-size: 24px;
  font-family: Roboto Condensed;
}

.logo_footer_link {
  color: #0D302C;
  text-decoration: none;
}

@media (max-width: 1024px) {
/*шапка*/
  .menu-list{
  height: 158px;
  gap: 20px;
}

.menu-item {
  font-size: 20px;
}

 /*body*/
  body{
    width: 100%;
    margin: 0 auto;
  }

  /*main*/
.main {
  max-width: 1024px;
  margin: 50px auto;
}

/*block1*/

.block1 {
  max-width: 1024px;
  padding: 0;
  height: 700px;
}

.block-1 {
  max-width: 1024px;
  height: 700px;
  margin: 0 auto;
}

.main-textInf {
    width: 510px;
    margin: 0 auto;
}

.h1-study-main {
    font-size: 35px;
    margin: 15px auto;
    text-align: center;
}

.p-textInf-main {
    font-size: 13px;
    width: 400px;
    margin-left: 50px;
}

.h1-zitata {
  font-size: 25px;
  margin-left: 60px;
  margin-bottom: 14px;
  margin-top: 30px;
}

.p-zitata {
  margin-left: 190px;
}

.main-video-urok {
  width: 510px;
  margin-left: 0;
}

.img-video-urok {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}

.video-button {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*block2*/
.block2{
  width: 100%;
  height: 650px;
}

.h1-block2 {
  font-size: 40px;
  text-align: center;
}

.ul-block2 {
  width: 950px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.li-block2 {
  width: 300px;
  height: 150px;
}

.zag1,
.zag2,
.zag3 {
  font-size: 22px;
  width: 140px;
}

.p-heading1,
.p-heading2, 
.p-heading3 {
  text-align: center;
}

.mini_wawe-block2 {
  display: block;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
}

.wawe1,
.wawe3{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.wawe2 {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}




/*footer*/
.over-footer {
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20px;
  }

.over-footer-logo {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
  }

.over-footer-logo img {
  padding-right: 8px;
  padding-bottom: 8px;
  width: 30px; 
  height: 30px; 
}

.li-one,
.li-two,
.li-three {
  font-size: 16px; 
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: #000000;
}

.over-footer-li {
  gap: 17px;
}

.footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.footer-text {
  font-size: 14px;
  text-align: center;
}

.footer-info img {
  width: 30px;
  height: 23px; 
  }
}

@media (max-width: 768px) {
/*стили к шапке*/
body{
  width: 100%;
}

.menu-list{
  height: 158px;
  gap: 12px;
}

.menu-item {
  font-size: 16px;
}

.title-main {
  font-size: 45px; 
}

.title-main-span {
  font-size: 45px;
}



/*main*/
.main {
  max-width: 768px;
  margin: 30px auto;
}
/*block1*/

.block1 {
  max-width: 768px;
  padding: 0;
  height: 1200px;
}

.block-1 {
  max-width: 768px;
  display: block;
  height: 1200px;
  margin: 0 auto;
}

.main-textInf {
    width: 510px;
    margin: auto;
}

.main-video-urok {
  width: 510px;
  margin-left: 135px;
}

.img-video-urok {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.video-button {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*block2*/
.block2{
  max-width: 768px;
  height: 1000px;
}

.h1-block2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 60px;
}

.ul-block2 {
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  gap: 30px;
  margin-bottom: 20px;
}

.li-block2 {
  width: 300px;
  height: 165px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pri_study{
  height: 700px;
}

.zag1,
.zag2,
.zag3 {
  font-size: 22px;
  width: 140px;
  line-height: 25px;
}
}

@media (max-width: 500px) {
  /*body*/
body{
  width: 100%;
  margin: 0 auto;
}


/*main*/
.main {
  max-width: 100%;
  margin: 30px auto;
}


/*block1*/

.block1 {
  max-width: 100%;
  padding: 0;
  height: 1050px;
}

.block-1 {
  max-width: 100%;
  height: 1050px;
  margin: 0 auto;
}

.main-textInf {
    width: 420px;
    margin: 0 auto;
}

.h1-study-main {
    font-size: 22px;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

.p-textInf-main {
    font-size: 13px;
    width: 370px;
    margin-left: 20px;
    line-height: 24px;
}

.h1-zitata {
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.p-zitata {
  margin-left: 90px;
}

.main-video-urok {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.img-video-urok {
  width: 80%;
  margin-left: 60px;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -30%);
    width: 90px;
    height: auto;
}

/*block2*/
.block2{
  max-width: 425px;
  height: 1000px;
}

.h1-block2 {
  font-size: 26px;
  width: 400px;
  text-align: center;
}

.li-block2 {
  margin-bottom: 25px;
}

.mini_wawe-block2 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.wawe1 {
  width: 300px;
  margin-bottom: 20px;
}

.wawe2{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img-wawe1 {
  width: 300px;
}

.img-wawe2 {
  width: 350px;
}
.img-wawe3 {
  width: 400px;
}

.p-wawe {
  font-size: 16px;
  text-align: left;
}
}






@media (max-width:425px) {
/*body*/
body{
  width: 100%;
  margin: 0 auto;
}


/*main*/
.main {
  max-width: 425px;
  margin: 30px auto;
}

/*block1*/

.block1 {
  max-width: 100%;
  padding: 0;
  height: 1050px;
}

.block-1 {
  max-width: 425px;
  height: 1050px;
  margin: 0 auto;
}

.main-textInf {
    max-width: 400px;
    margin: 0 auto;
}

.h1-study-main {
    font-size: 22px;
    width: 400px;
    margin: 15px auto;
    text-align: center;
}

.p-textInf-main {
    font-size: 13px;
    width: 370px;
    margin-left: 20px;
    line-height: 24px;
}

.h1-zitata {
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.p-zitata {
  margin-left: 90px;
}

.main-video-urok {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.img-video-urok {
  width: 360px;
  margin-left: 20px;
  margin-top: 30px;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    width: 90px;
    height: auto;
}

/*block2*/
.block2{
  max-width: 425px;
  height: 1000px;
}

.h1-block2 {
  font-size: 22px;
  width: 400px;
  text-align: center;
}

.li-block2 {
  margin-bottom: 25px;
}

.mini_wawe-block2 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.wawe1 {
  width: 300px;
  margin-bottom: 20px;
}

.wawe2{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img-wawe1 {
  width: 300px;
}

.img-wawe2 {
  width: 350px;
}
.img-wawe3 {
  width: 400px;
}

.p-wawe {
  font-size: 16px;
  text-align: left;
}

}

@media (max-width: 375px) {
  /*body*/
body{
  width: 100%;
  margin: 0 auto;
}


/*main*/
.main {
  max-width: 100%;
  margin: 20px auto;
}


/*block1*/

.block1 {
  max-width: 90%;
  padding: 0;
  height: 1080px;
}

.block-1 {
  max-width: 100%;
  height: 1080px;
  margin: 0 auto;
}

.main-textInf {
    width: 90%;
    margin: 0 auto;
}

.h1-study-main {
    font-size: 20px;
    max-width: 100%;
    margin: 15px auto;
    text-align: center;
}

.p-textInf-main {
    font-size: 12px;
    width: 310px;
    margin-left: 20px;
    line-height: 24px;
}

.h1-zitata {
  font-size: 18px;
  margin-left: 35px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.p-zitata {
  margin-left: 90px;
  font-size: 12px;
}

.main-video-urok {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.img-video-urok {
  width: 300px;
  margin-left: 50px;
  margin-top: 30px;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-17%, -40%);
    width: 70px;
    height: auto;
}

/*block2*/
.block2{
  max-width: 375px;
  height: 1000px;
}

.h1-block2 {
  font-size: 22px;
  width: 370px;
  text-align: center;
}

.ul-block2 {
  margin-left: 0;
}


.li-block2 {
  margin-bottom: 20px;
}

.mini_wawe-block2 {
  max-width: 375px;
  margin-left: 10px;
}

.wawe1 {
  width: 250px;
  margin-bottom: 20px;
}

.wawe2{
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.wawe3 {
  margin-left: 33px;
}


.img-wawe1 {
  width: 250px;
}

.img-wawe2 {
  width: 270px;
}
.img-wawe3 {
  width: 310px;
}

.p-wawe {
  font-size: 16px;
  text-align: left;
  width: 100px;
}
}

@media (max-width: 360px) {
  /*body*/
body{
  width: 100%;
  margin: 0 auto;
}


/*main*/
.main {
  max-width: 360px;
  margin: 20px auto;
}


/*block1*/

.block1 {
  max-width: 360px;
  padding: 0;
  height: 1080px;
}

.block-1 {
  max-width: 360px;
  height: 1080px;
  margin: 0 auto;
}

.main-textInf {
    width: 340px;
    margin: 0 auto;
}

.h1-study-main {
    font-size: 20px;
    width: 340px;
    margin: 15px auto;
    text-align: center;
}

.p-textInf-main {
    font-size: 12px;
    width: 300px;
    margin-left: 20px;
    line-height: 24px;
}

.h1-zitata {
  font-size: 18px;
  margin-left: 25px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.p-zitata {
  margin-left: 75px;
  font-size: 12px;
}

.main-video-urok {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.img-video-urok {
  width: 300px;
  margin-left: 30px;
  margin-top: 30px;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-33%, -40%);
    width: 70px;
    height: auto;
}

/*block2*/
.block2{
  max-width: 360px;
  height: 1000px;
}

.h1-block2 {
  font-size: 22px;
  width: 340px;
  text-align: center;
}

.ul-block2 {
  margin-left: 0;
  width: 340px;
}


.li-block2 {
  margin-bottom: 20px;
}

.mini_wawe-block2 {
  max-width: 90%;
  margin-left: 10px;
}

.wawe1 {
  width: 250px;
  margin-bottom: 20px;
}

.wawe2{
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.wawe3 {
  margin-left: 33px;
}


.img-wawe1 {
  width: 250px;
}

.img-wawe2 {
  width: 270px;
}
.img-wawe3 {
  width: 310px;
}

.p-wawe {
  font-size: 16px;
  text-align: left;
}
}


@media (max-width: 320px) {
  /*body*/
body{
  width: 100%;
  margin: 0 auto;
}


/*main*/
.main {
  max-width: 320px;
  margin: 20px auto;
}


/*block1*/

.block1 {
  max-width: 320px;
  padding: 0;
  height: 1050px;
}

.block-1 {
  max-width: 320px;
  height: 1050px;
  margin: 0 auto;
}

.main-textInf {
    width: 100%;
    margin: 0 auto;
}

.h1-study-main {
    font-size: 29px;
    width: 270px;
    margin: 15px auto;
    text-align: center;
}

.p-textInf-main {
    font-size: 12px;
    width: 270px;
    margin-left: 20px;
    line-height: 21px;
    margin-bottom: 10px;
}

.h1-zitata {
  font-size: 16px;
  margin-left: 25px;
  margin-bottom: 12px;
  margin-top: 20px;
  width: 90%;
}

.p-zitata {
  margin-left: 75px;
  font-size: 10px;
}

.main-video-urok {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.img-video-urok {
  width: 85%;
  margin-left: 30px;
  margin-top: 30px;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-33%, -40%);
    width: 70px;
    height: auto;
}

/*block2*/
.block2{
  max-width: 360px;
  height: 1000px;
  padding: 0px;
}

.h1-block2 {
  font-size: 22px;
  width: 90%;
  text-align: left;
  margin-left: 15px;
}

.ul-block2 {
  margin-left: 0;
  width: 300px;
}


.li-block2 {
  margin-bottom: 20px;
  margin-left: 15px;
}

.p-heading1,
.p-heading2, 
.p-heading3 {
  text-align: left;
}

.heading {
  justify-content: left;
}


.mini_wawe-block2 {
  max-width: 90%;
  margin-left: 10px;
}

.wawe1 {
  width: 250px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.wawe2{
  width: 270px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.wawe3 {
  margin-left: 15px;
  width: 270px;
}


.img-wawe1 {
  width: 250px;
}

.img-wawe2 {
  width: 270px;
}
.img-wawe3 {
  width: 290px;
}

.p-wawe {
  font-size: 16px;
  text-align: left;
}
}
